/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/10/2014, 13:37:18
    Author     : mac1
*/
body {
    
}
label {
    font-weight: 300;
}

.container.auth {
    margin-top: 10px;
}
.copyright {
    font-size: 0.9em;
    color: #999
}


.container {
    /*max-width: 1400px*/
}
.help-inline {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 90%;
    padding: 2px 4px;
}
.dropdown-toggle .glyphicon {
    padding-right: 5px
}
@media (min-width: 767px) {
    .container.auth {
        width: 420px;
        height: 220px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -210px;
        margin-top: -150px;
    }
}
